exportPattern("^[[:alpha:]]+")

export(clean_distance)
export(clean_weight)
export(clean_BMI)
export(intensity_level)
export(BMR)
export(TDEE)
export(sleep_efficiency)
export(water_intake)
export(steps_plot)
export(sleep_plot)
export(intensity_plot)
export(steps_vs_calories)
